.modal {
  padding: 20px;
  min-width: 500px;

  &__button-open {
    margin: 40px auto 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__input {
    width: 100%;
    height: 30px;
  }

  &__button {
    width: 100%;
    height: 40px;
    max-width: 200px;
    margin: 0 auto 20px;
    cursor: pointer;
  }

  &__span {
    color: red;
    font-size: 14px;
  }
}
